<% include partials/header %>

<h1>Welcome to the homepage!</h1>

<figure>
    <img src="http://www.pets4homes.co.uk/images/breeds/377/large/4f48501e401767a114eb2988e174b9ec.jpg">
    <figcaption>A totally awesome doggie!!!</figcaption>
</figure>

<% include partials/footer %>